In [40]:
# trying to make the df into a colsource with the month ranges -> month labels.
import pandas as pd
from data_analysis import construct_df
from bokeh.models.sources import ColumnDataSource
from bokeh.palettes import brewer

In [4]:
df, zips  = construct_df('../../data/2020_closed_nyc_311.csv')

In [28]:
df

            response_time_hr
open zip
jan  10000        105.400000
     10001        194.940379
     10002        157.890135
     10003        178.004862
     10004         59.716846
...                      ...
sep  11693         14.330677
     11694         16.804178
     11695         28.000000
     11697         34.285714
     12345         -1.800000

[1938 rows x 1 columns]

In [29]:
df.index.names

FrozenList(['open', 'zip'])

In [30]:

df.index.set_levels(['jan', 'feb', 'mar', 'apr','may', 'jun' ,'jul','aug','sep'],level=0,inplace=True)
df

            response_time_hr
open zip
jan  10000        105.400000
     10001        194.940379
     10002        157.890135
     10003        178.004862
     10004         59.716846
...                      ...
sep  11693         14.330677
     11694         16.804178
     11695         28.000000
     11697         34.285714
     12345         -1.800000

[1938 rows x 1 columns]

In [31]:
colsource = ColumnDataSource(df)

In [34]:
colsource.data['open_zip']

array([('jan', '10000'), ('jan', '10001'), ('jan', '10002'), ...,
       ('sep', '11695'), ('sep', '11697'), ('sep', '12345')], dtype=object)

In [38]:
# selected = ....
colsource.data['open_zip'][2] # the second

IndexError: too many indices for array

In [35]:
colsource.data['response_time_hr']

array([105.4       , 194.9403794 , 157.89013453, ...,  28.        ,
        34.28571429,  -1.8       ])

In [42]:
colors = brewer['YlGnBu'][4]

In [43]:
colors[0]

'#225ea8'