In [36]:
import pandas as pd
import numpy as np

In [37]:
#df = pd.read_csv("../data/small_nyc.csv", header=None,  usecols=[1, 2, 8, 19], names=['open', 'close', 'zip', 'status'])
df = pd.read_csv("../data/2020_closed_nyc_311.csv", header=None, names=['open', 'close', 'zip', 'status'], dtype={'zip': str})

In [38]:

df

                           open                   close    zip  status
0        07/20/2020 10:51:12 AM  09/05/2020 12:32:48 PM  11234  Closed
1        07/21/2020 02:13:58 PM  09/05/2020 01:37:31 PM  11210  Closed
2        07/27/2020 12:56:33 PM  09/05/2020 08:51:14 AM  11354  Closed
3        06/23/2020 11:55:33 AM  08/04/2020 04:45:20 PM    NaN  Closed
4        06/03/2020 08:33:35 AM  07/13/2020 03:09:14 PM    NaN  Closed
...                         ...                     ...    ...     ...
1705660  07/10/2020 10:34:45 AM  08/26/2020 12:00:00 AM  10075  Closed
1705661  08/05/2020 02:55:52 PM  08/13/2020 06:35:49 PM  11221  Closed
1705662  07/11/2020 10:53:00 AM  08/21/2020 12:00:00 PM  11421  Closed
1705663  07/16/2020 12:00:23 PM  08/30/2020 05:59:47 PM  11691  Closed
1705664  07/16/2020 04:55:32 PM  09/05/2020 01:28:38 PM  11226  Closed

[1705665 rows x 4 columns]

In [39]:
#type(df['open'][0])

In [40]:
#df.isnull().any()

In [41]:
#df = df[df['status'] == 'Closed'] # restrict to only the closed columns
# will also need to do df['open'] > pd.Timestamp(2020,1,1)

In [42]:

#df.isnull().any()
#df

In [43]:
#df

In [44]:
#sum((df['zip'] == 83.0))  # there are 4 zip codes of 83 ???

In [45]:
#pd.to_datetime(df['dates'], format='%m%d%y%H%M%S')
format='%m%d%y%H%M%S'

In [46]:
df['open'] = pd.to_datetime(df['open'],format='%m/%d/%Y %H:%M:%S %p') # convert to datetime format
df['close'] = pd.to_datetime(df['close'],format='%m/%d/%Y %H:%M:%S %p')

In [47]:

df.replace(np.nan, -99999, inplace=True) # use -99999 to denote a nan zipcode

In [48]:
type(df['zip'][0])
df['zip'].unique()

array(['11234', '11210', '11354', -99999, '10451', '10031', '11364',
       '10301', '10016', '10305', '11217', '10022', '11103', '10036',
       '10017', '10065', '10075', '10010', '10023', '10021', '11377',
       '10003', '11379', '10001', '10009', '11207', '11237', '10002',
       '11104', '10035', '11373', '11212', '11213', '10454', '10128',
       '11375', '10004', '10458', '11230', '10168', '11238', '11224',
       '10453', '10457', '11236', '11413', '11415', '11432', '11361',
       '11372', '11419', '10466', '10472', '10029', '11691', '11433',
       '11204', '10306', '11412', '11416', '11694', '10452', '11434',
       '10011', '10040', '10032', '10460', '10034', '11221', '11205',
       '10459', '11231', '10033', '11423', '11105', '11233', '11226',
       '11216', '10455', '10473', '10024', '11360', '10469', '11418',
       '11435', '11219', '11428', '10468', '11229', '11218', '11203',
       '10310', '11225', '11420', '11378', '10028', '10025', '11211',
       '10019', '11208', '10467', '11693', '11101', '10456', '11692',
       '11429', '11422', '11385', '10302', '10314', '11369', '11370',
       '11102', '10462', '10463', '11414', '11106', '11356', '10012',
       '10027', '10470', '10304', '10014', '11357', '10308', '11214',
       '10474', '11367', '11358', '11374', '10038', '10309', '11436',
       '11411', '10312', '10303', '11368', '11201', '11215', '11232',
       '11220', '11228', '11223', '11249', '10465', '11004', '11209',
       '10026', '10461', '11355', '11235', '10169', '11421', '11206',
       '11222', '10039', '10037', '11417', '10013', '11365', '10018',
       '11426', '10475', '11109', '11366', '10464', '10471', '10007',
       '10307', '11362', '10030', '10121', '11430', '10005', '10044',
       '11427', '10282', '11239', '10173', '11359', '10280', '10177',
       '11001', '10105', '11040', '10178', '11363', '10006', '10069',
       '11005', '12345', '10171', '10120', '10278', '10020', '10119',
       '10172', '10281', '10279', '10041', '10165', '11371', '10162',
       '11697', '10151', '10103', '10118', '11242', '10154', '10152',
       '10271', '10110', '10155', '11695', '10000', '10045', '10123',
       '10170', '10166', '10158', '10179', '11251', '10122', '10111',
       '10055', '10112', '11241', '10107', '10176', '10106', '10115',
       '10174', '00083', '10153', '10048', '10167', '10175'], dtype=object)

In [49]:
"""
The goal of your dashboard is to allow a city official to evaluate the difference in response time to 
complaints filed through the 311 service by zipcode. Response time is measured as the amount of time from 
incident creation to incident closed.
"""
df['response_time_hr'] = (df['close']-df['open']).astype('timedelta64[h]')

In [56]:
#df_grouped = df.groupby('zip')['response_time_hr'].mean()
monthly_grouped = pd.DataFrame(df.groupby([pd.Grouper(key='open',freq='M'), 'zip'])['response_time_hr'].mean())
monthly_grouped
#df.groupby(Grouper(key='date', freq='60s'))

                   response_time_hr
open       zip
2020-01-31 -99999        189.152793
           10000         105.400000
           10001         194.940379
           10002         157.890135
           10003         178.004862
...                             ...
2020-09-30 11693          14.330677
           11694          16.804178
           11695          28.000000
           11697          34.285714
           12345          -1.800000

[1947 rows x 1 columns]

In [62]:
# want the data for zipcode 10001
monthly_grouped.loc[(slice(None), "10001"),:]

                  response_time_hr
open       zip
2020-01-31 10001        194.940379
2020-02-29 10001        262.094498
2020-03-31 10001        144.324675
2020-04-30 10001         59.202206
2020-05-31 10001         58.264205
2020-06-30 10001         56.977515
2020-07-31 10001         48.512887
2020-08-31 10001         51.944146
2020-09-30 10001         20.082027

In [33]:
df_monthly = df.groupby('zip')['response_time_hr'].mean()

,open,close,zip,status,response_time_hr
0,2020-07-20 10:51:12,2020-09-05 12:32:48,11234,Closed,1129.0
1,2020-07-21 02:13:58,2020-09-05 01:37:31,11210,Closed,1103.0
2,2020-07-27 12:56:33,2020-09-05 08:51:14,11354,Closed,955.0
3,2020-06-23 11:55:33,2020-08-04 04:45:20,-99999,Closed,1000.0
4,2020-06-03 08:33:35,2020-07-13 03:09:14,-99999,Closed,954.0
...,...,...,...,...,...
1705660,2020-07-10 10:34:45,2020-08-26 12:00:00,10075,Closed,1129.0
1705661,2020-08-05 02:55:52,2020-08-13 06:35:49,11221,Closed,195.0
1705662,2020-07-11 10:53:00,2020-08-21 12:00:00,11421,Closed,985.0
1705663,2020-07-16 12:00:23,2020-08-30 05:59:47,11691,Closed,1073.0
1705664,2020-07-16 04:55:32,2020-09-05 01:28:38,11226,Closed,1220.0

In [105]:
def construct_df(filepath): # input the 2020_closed_nyc_311.csv"
    df = pd.read_csv(filepath, header=None, names=['open', 'close', 'zip', 'status'],dtype={'zip': str})

    df.replace(np.nan, -99999, inplace=True) # use -99999 to denote a nan zipcode
    df['open'] = pd.to_datetime(df['open'],format='%m/%d/%Y %H:%M:%S %p') # convert to datetime format
    df['close'] = pd.to_datetime(df['close'],format='%m/%d/%Y %H:%M:%S %p')
    df['response_time_hr'] = (df['close']-df['open']).astype('timedelta64[h]') 
 #   df_grouped = df.groupby('zip')['response_time_hr'].mean()
    
    monthly_grouped = pd.DataFrame(df.groupby([pd.Grouper(key='open',freq='M'), 'zip'])['response_time_hr'].mean())
    
    return monthly_grouped

In [106]:
my_df  = construct_df("../data/2020_closed_nyc_311.csv")

In [96]:
def query_zip_2(df,zipcode=None):
    if zipcode is None:
        return df.mean(level=0) # if a zipcode is not provided, take the mean across all the months
    else:
        return df.loc[(slice(None), zipcode),:] # otherwise provide it for the specified zipcode

In [104]:
query_zip_2(my_df, '10001').values

array([[194.9403794 ],
       [262.09449761],
       [144.32467532],
       [ 59.20220588],
       [ 58.26420455],
       [ 56.97751479],
       [ 48.5128866 ],
       [ 51.94414608],
       [ 20.08202654]])

In [77]:
my_df.loc[(slice(None),slice(None)), :].mean()

response_time_hr    122.060944
dtype: float64

In [91]:
my_df.mean(level=0)

            response_time_hr
open
2020-01-31        166.797968
2020-02-29        201.073062
2020-03-31        207.980687
2020-04-30        104.988027
2020-05-31         88.681719
2020-06-30         97.860572
2020-07-31        105.359159
2020-08-31         93.027204
2020-09-30         29.952394