In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv("../data/small_nyc.csv", header=None,  usecols=[1, 2, 8, 19], names=['open', 'close', 'zip', 'status'])
df = pd.read_csv("../data/2020_closed_nyc_311.csv", header=None, names=['open', 'close', 'zip', 'status'])

In [3]:

df

                           open                   close      zip  status
0        07/20/2020 10:51:12 AM  09/05/2020 12:32:48 PM  11234.0  Closed
1        07/21/2020 02:13:58 PM  09/05/2020 01:37:31 PM  11210.0  Closed
2        07/27/2020 12:56:33 PM  09/05/2020 08:51:14 AM  11354.0  Closed
3        06/23/2020 11:55:33 AM  08/04/2020 04:45:20 PM      NaN  Closed
4        06/03/2020 08:33:35 AM  07/13/2020 03:09:14 PM      NaN  Closed
...                         ...                     ...      ...     ...
1705660  07/10/2020 10:34:45 AM  08/26/2020 12:00:00 AM  10075.0  Closed
1705661  08/05/2020 02:55:52 PM  08/13/2020 06:35:49 PM  11221.0  Closed
1705662  07/11/2020 10:53:00 AM  08/21/2020 12:00:00 PM  11421.0  Closed
1705663  07/16/2020 12:00:23 PM  08/30/2020 05:59:47 PM  11691.0  Closed
1705664  07/16/2020 04:55:32 PM  09/05/2020 01:28:38 PM  11226.0  Closed

[1705665 rows x 4 columns]

In [4]:
df.isnull().any()

open      False
close     False
zip        True
status    False
dtype: bool

In [5]:
#df = df[df['status'] == 'Closed'] # restrict to only the closed columns
# will also need to do df['open'] > pd.Timestamp(2020,1,1)

In [6]:

df.isnull().any()
#df

open      False
close     False
zip        True
status    False
dtype: bool

In [22]:
df

                           open                   close      zip  status
0        07/20/2020 10:51:12 AM  09/05/2020 12:32:48 PM  11234.0  Closed
2        07/21/2020 02:13:58 PM  09/05/2020 01:37:31 PM  11210.0  Closed
3        07/27/2020 12:56:33 PM  09/05/2020 08:51:14 AM  11354.0  Closed
5        06/23/2020 11:55:33 AM  08/04/2020 04:45:20 PM      NaN  Closed
6        06/03/2020 08:33:35 AM  07/13/2020 03:09:14 PM      NaN  Closed
...                         ...                     ...      ...     ...
1822989  07/10/2020 10:34:45 AM  08/26/2020 12:00:00 AM  10075.0  Closed
1822991  08/05/2020 02:55:52 PM  08/13/2020 06:35:49 PM  11221.0  Closed
1822992  07/11/2020 10:53:00 AM  08/21/2020 12:00:00 PM  11421.0  Closed
1822994  07/16/2020 12:00:23 PM  08/30/2020 05:59:47 PM  11691.0  Closed
1822995  07/16/2020 04:55:32 PM  09/05/2020 01:28:38 PM  11226.0  Closed

[1663697 rows x 4 columns]

In [23]:
df.isnull().any()

open      False
close      True
zip        True
status    False
dtype: bool

In [28]:
#pd.to_datetime(df['dates'], format='%m%d%y%H%M%S')
format='%m%d%y%H%M%S'

In [18]:
df['open'] = pd.to_datetime(df['open'],format='%m/%d/%Y %H:%M:%S %p') # convert to datetime format
df['close'] = pd.to_datetime(df['close'],format='%m/%d/%Y %H:%M:%S %p')

In [19]:
type(df['close'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
"""
The goal of your dashboard is to allow a city official to evaluate the difference in response time to 
complaints filed through the 311 service by zipcode. Response time is measured as the amount of time from 
incident creation to incident closed.
"""
df['response_time_hr'] = (df['close']-df['open']).astype('timedelta64[h]')

In [21]:
df

,open,close,zip,status,response_time_hr
0,2020-07-20 10:51:12,2020-09-05 12:32:48,11234.0,Closed,1129.0
1,2020-07-21 02:13:58,2020-09-05 01:37:31,11210.0,Closed,1103.0
2,2020-07-27 12:56:33,2020-09-05 08:51:14,11354.0,Closed,955.0
3,2020-06-23 11:55:33,2020-08-04 04:45:20,NaN,Closed,1000.0
4,2020-06-03 08:33:35,2020-07-13 03:09:14,NaN,Closed,954.0
...,...,...,...,...,...
1705660,2020-07-10 10:34:45,2020-08-26 12:00:00,10075.0,Closed,1129.0
1705661,2020-08-05 02:55:52,2020-08-13 06:35:49,11221.0,Closed,195.0
1705662,2020-07-11 10:53:00,2020-08-21 12:00:00,11421.0,Closed,985.0
1705663,2020-07-16 12:00:23,2020-08-30 05:59:47,11691.0,Closed,1073.0
1705664,2020-07-16 04:55:32,2020-09-05 01:28:38,11226.0,Closed,1220.0

In [22]:
df_grouped = df.groupby('zip')['response_time_hr'].mean()

In [27]:
pd.DataFrame(df_grouped)

         response_time_hr
zip
83.0            -1.800000
10000.0         20.971053
10001.0         97.398995
10002.0         86.351371
10003.0        114.529180
...                   ...
11693.0         93.293090
11694.0         89.796308
11695.0        121.615385
11697.0        111.796610
12345.0         42.441176

[236 rows x 1 columns]

In [24]:
df_grouped[10001]

97.39899470180681

In [25]:
df_grouped.index

Float64Index([   83.0, 10000.0, 10001.0, 10002.0, 10003.0, 10004.0, 10005.0,
              10006.0, 10007.0, 10009.0,
              ...
              11434.0, 11435.0, 11436.0, 11691.0, 11692.0, 11693.0, 11694.0,
              11695.0, 11697.0, 12345.0],
             dtype='float64', name='zip', length=236)

In [26]:
def construct_df(filename): # input the 2020_closed_nyc_311.csv"
    df = pd.read_csv(filename, header=None, names=['open', 'close', 'zip', 'status'])
  #  df = df[df['status'] == 'Closed'].copy()
 #   df.reset_index(inplace=True)
    df['open'] = pd.to_datetime(df['open'],format='%m/%d/%Y %H:%M:%S %p') # convert to datetime format
    df['close'] = pd.to_datetime(df['close'],format='%m/%d/%Y %H:%M:%S %p')
    df['response_time_hr'] = (df['close']-df['open']).astype('timedelta64[h]') 
    df_grouped = df.groupby('zip')['response_time_hr'].mean()
    return df_grouped

In [20]:
my_df  = construct_df("small_nyc.csv")

In [21]:
def query_zip(df, zip_code):
    return df[zip_code]

In [22]:
query_zip(my_df, 10001)

13.8

0      False
1      False
2      False
3      False
4      False
       ...
237    False
238    False
239    False
240    False
241    False
Name: open, Length: 242, dtype: bool

Timestamp('2020-01-01 00:00:00')